 body {
  width: 100%;
}

.wrapper {
  width: 900px;
  min-width: 900px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

p {
  padding: 1.2em .5em;
  font-size: 3.7em;
  display: inline;
}

.subsite-links {
  position:relative;
  top: -270px;
}

.interiors {
  float: left;
}

.jewelry {
  float: right;
}

.logo {
  display: inline-block;
  background-image: url(../static/ad-logo.png);
  width: 400px;
  height: 284px;
}

.clear-float {
  clear: both;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ff392e;
}

a.jewelry-link:hover {
  color: #2d95ff;
}
