 body {
  width: 100%;
}

.wrapper {
  width: 800px;
  min-width: 800px;
  margin: auto;
  margin-top: 2em;
  text-align: center;
}

p {
  font-family: 'Cinzel', serif;
  margin-bottom: 0.4em;
  font-size: 1.8em;
  color: #335566;

}

.subsite-links {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding-bottom: 3em;
}

.sub-box {
  width: 375px;
  display: inline-block;
  /* float: left; */
}

.jewelry {
  /*float: right; */
}

.logo {
  display: inline-block;
  background-image: url(../static/ad-logo-new.png);
  width: 100px;
  height: 78px;
}

.clear-float {
  clear: both;
}

a {
  text-decoration: none;
  color: #444;
}

a:visited {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #ff392e;
}

a.jewelry-link:hover {
  color: #2d95ff;
}
