 body {
  width: 100%;
}

.wrapper {
  width: 600px;
  min-width: 600px;
  margin: auto;
  margin-top: 2em;
  text-align: center;
}

p {
  font-family: 'Cinzel', serif;
  margin-bottom: 0.4em;
  font-size: 1.8em;
  color: #335566;

}

.subsite-links {
  border-top: 1px solid #888;
  padding-bottom: 3em;
}

.sub-box {
  width: 275px;
  display: inline-block;
  /* float: left; */
}

.jewelry {
  /*float: right; */
}

.logo {
  display: inline-block;
  width: 300px;
  height: 100px;
  text-align: center;
}

.logo p {
  color: #444;
}

.clear-float {
  clear: both;
}

a {
  text-decoration: none;
  color: #444;
}

a:visited {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #f83c31;
}

a.jewelry-link:hover {
  color: #60c0d8;
}
